name: Deploy Every Day
on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
    
jobs: 
  scrape: 
    name: Ping webhook
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Get article url
        uses: baptiste0928/cargo-install@v3
        with:
          crate: htmlq
      - name: do the scraping
        run: curl -s "https://www.3cat.cat/el-temps/" | htmlq -p ".M-rmp + *" -a href a | sed 1q | echo "https://www.3cat.cat$(cat -)" | curl -s $(cat -) | htmlq -t ".R-itemNotiCos" | sed '/^#mapa/d' | tr -s " " | sed -e "s/^[ \t]*//" | cat -s | sed -e '1d' -e '$d' > link.txt
      - name: commit results
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "generated"
          git push
